*{
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.container-fluid{
  height: 100vh;
  background: linear-gradient( 315deg, rgba(86, 216, 228, 1) 10%, rgba(159, 1, 234, 1) 90% );
  color: #02010c;

}
.container{
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
/*
    background: linear-gradient( 315deg, rgba(86, 216, 228, 1) 10%, rgba(159, 1, 234, 1) 90% );
    height: 100vh;
*/
}
.btn-primary {
  color: #fff;
  background-color: #9d46ce;
  border-color: #9d46ce;
}
.btn-primary:hover{
  background: rgba(159, 1, 234, 1);
  border-color: rgba(86, 216, 228, 1)
}
a{
  text-decoration: none;
    color: black;
}
h1{
  text-align: center;
  margin-top: 5%;
}
.form-field{
  width: 400px;
  margin: 0 auto;
  margin-top: 30px;
}
.form-group label{
  width: 12%;;
}
.form-group label:first-child{
  width: 25%;;
}
.name input, .name label{
  float: left;
  margin-bottom: 15px;
}
.name label{
  line-height: 30px;
}
.form-control{
  width: 70%;
}
label{
  width: 25%;
}









